
a{
  text-decoration: none !important;
  color:inherit !important;
}
.hi{
  width: 100% !important;
  /* margin-left: 25% !important; */
  align-items: center !important;
}
.backgroundd{
  margin: 0 !important;
height: 100% !important;
width: 100% !important;
  background: rgba(0,0,0,0.7) url('../src/images/groceries.jpg') !important;
  background-size: cover !important;
  background-blend-mode: darken !important;
  text-align: center;

  color: white;
  margin-top: 20%;
}

.background {
  background: rgba(0,0,0,0.7) url('../src/images/groceries.jpg') !important;
  background-size: cover !important;
  background-blend-mode: darken !important;
/* color:#0eab3f !important; */
}
.opp{
  color: white !important;
}
.searchi{
  margin-right: 100px !important;
}
.oppp{
  background-color: azure !important;
  color: black !important;
}